@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
  --primary-color: #f50042;
  --secondary-color: white;
  --alternate-color: #b42d51;
}

.main-container{
  max-width:50%;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 2;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

hr {
  margin: 1.5rem 0;
}

/* container */

.container-centered {
  max-width: 700px;
  margin: auto;
  padding: 1rem;
}

.container {
  margin: 1rem;
}

/* links */
.primary-link {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 1rem;
  text-decoration: none;
}

.secondary-link {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 1rem;
  border-radius: 10px;
}

/* list styles */

.bullet-none {
  list-style-type: none;
}

.inline-list-item {
  display: inline;
  margin-left: 1rem;
}

.list-style {
  margin-left: 2rem;
}

/* navbar */
.navbar {
  padding: 2rem;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--alternate-color)
  );
  color: var(--secondary-color);
  border-bottom-left-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .logo {
  font-weight: bold;
  /* display: inline-block; */
}
.navbar li a {
  text-decoration: none;
  color: var(--secondary-color);
}


.navbar ul {
  /* text-align: right; */
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
}

.active{
  font-weight: bold;
}
/* header */

header{
  margin-top: 2rem;
}
header img {
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

header h1 {
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #6b7280;
  margin-top: 1.5rem;
  font-size: 2rem;
}

/* section */

.section{
  margin: 1rem auto;
  padding: 1rem auto;
  
}

.section .primary-link{
  padding: 0.7rem;
}
.section p{
  margin-bottom: 1em;
}

.section-ow{
  background-color: #f5f5f5;
  padding: 1rem auto  ;
  margin: 1rem auto;
}


/* footer */
.footer{
  padding: 2rem;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--alternate-color)
  );
  color: var(--secondary-color);
  border-top-right-radius: 15px;
  text-align: center;
}

.footer li{
  display: inline;
  margin-left: 0.5rem;
}


@media screen and (max-width:414px){

  .navbar{
    display: flex;
    flex-direction: column;
  }
  .navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  header img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
  }
}